.pagination {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.pgNum {
    cursor: pointer;
    padding: 2px;
    color: black;
    transition: all 0.5s;
}

.pgNum:hover {
    color: var(--color-active);
}

.pgNumCurrent {
    composes: pgNum;
    font-weight: 500;
    border-bottom: 2px solid black;
}

.pgNumCurrent:hover {
    border-bottom-color: var(--color-active);
}