.pagination {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.pgNum {
    cursor: pointer;
    padding: 2px;
}

.pgNumCurrent {
    composes: pgNum;
    font-weight: 700;
    border-bottom: 2px solid black;

}