.lessonList {
    font-weight: 500;
}

.lessonList:not(:first-of-type) {
    margin-top: 12px;
}

.lessonTitle {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
}

.lessonTitle::after {
    content: "";
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
}

.lessonTitle:hover,
.lessonTitle:hover .lessonTitle::after {
    opacity: 0.7;
}

.locked {
    composes: lessonTitle;
    opacity: 0.3;
    cursor:default;
}
.locked:hover,
.locked:hover .lessonTitle::after {
    opacity: 0.3;}

.unlocked {
    composes: lessonTitle;
    opacity: 1;
}