.courseCard {
    width: calc(100%);
}
@media screen and (min-width: 768px) {
    .courseCard {
    flex-basis: calc((100% - 48px) / 2);
    }    
}

@media screen and (min-width: 1280px) {
    .courseCard {
        flex-basis: calc((100% - 64px) / 3);
    }
}

.courseTag {
    font-weight: 700;
}

.courseLink {
    /* text-decoration: none; */
    color: black;
}